@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    
        
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "button special" })

        
        <a href="javascript:document.getElementById('logoutForm').submit()"   class="button special">Log off</a>
   

    }
}
else
{
    
        <a href="~/Account/Register" class="button special">Preinscripcion</a>
        <a href="~/Account/Login" class="button special">Log in</a>
    
}
