@model SistemadeGestionEscolar.Models.Grupo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ELIMINAR GRUPO</h2>

<h3>Are you sure you want to delete this?</h3>

<span>Nombre Grupo:</span>@(Model.nombreGrupo)
<span>Nombre Carrera:</span>@(Model.carrera.NombreCarrera)

<form action="DeleteConfirmed" method="post">

    @Html.HiddenFor(a=>a.grupoID)
    <button type="submit">Confitmar</button>

</form>
